<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ERP</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>

  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowController</display-name>
    <servlet-name>AdminShowController</servlet-name>
    <servlet-class>com.controller.AdminShowController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowController</servlet-name>
    <url-pattern>/AdminShowController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageController</display-name>
    <servlet-name>ManageController</servlet-name>
    <servlet-class>com.controller.ManageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageController</servlet-name>
    <url-pattern>/ManageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitController</display-name>
    <servlet-name>ExitController</servlet-name>
    <servlet-class>com.controller.ExitController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitController</servlet-name>
    <url-pattern>/ExitController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductController</display-name>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>com.controller.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginController</display-name>
    <servlet-name>UserLoginController</servlet-name>
    <servlet-class>com.controller.UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginController</servlet-name>
    <url-pattern>/UserLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserShowController</display-name>
    <servlet-name>UserShowController</servlet-name>
    <servlet-class>com.controller.UserShowController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserShowController</servlet-name>
    <url-pattern>/UserShowController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashBoardShow</display-name>
    <servlet-name>DashBoardShow</servlet-name>
    <servlet-class>com.controller.DashBoardShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashBoardShow</servlet-name>
    <url-pattern>/DashBoardShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserExitController</display-name>
    <servlet-name>UserExitController</servlet-name>
    <servlet-class>com.controller.UserExitController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserExitController</servlet-name>
    <url-pattern>/UserExitController</url-pattern>
  </servlet-mapping>
</web-app>